.panel-padding {
    padding-bottom: 3em;      
}

.top-padding {
    padding-top: 2em;
}

td, th {
    text-align: center;
    align-content: center;
}

.no-color {
    background: white;
}

.panel-image {
    padding: 0px;
}
