<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/stylesheet.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{{title}}</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            {% for lot in lots %}
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{lot.name}}</h3>
                        </div>
                        <div class="panel-body">
                            <p>Cars Parked: {{lot.carsInLot}}</p>
                            <p>Cars Remaining: {{lot.remainingSpots}}</p>
                            <p>Last Update: {{lot.lastUpdate}}</p>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>

</html>