<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/stylesheet.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

    <meta http-equiv="refresh" content="5" >

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- <a class="navbar-brand" href="#">
                        <img alt="Brand" src="/static/img/ucsc1.jpg">
                    </a> -->
                    <a class="navbar-brand" href="#">{{title}}</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            {% for lot in lots %}
            <div class="row">
                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-8 col-sm-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{lot[1]}}</h3>
                        </div>
                        <div class="panel-body panel-padding">
                                <img src="/static/img/{{lot[0]}}.jpg" class="img-responsive center-block" id="Panel_Image">
                        </div>
                        <div class="panel-footer no-color">
                            <div class="row">
                                <div class="col-lg-4 col-xs-4 text-center">Parked</div>
                                <div class="col-lg-4 col-xs-4 text-center">Total Capacity</div>
                                <div class="col-lg-4 col-xs-4 text-center">Update</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-xs-4 text-center">{{lot[3]}}</div>
                                <div class="col-lg-4 col-xs-4 text-center">{{lot[4]}}</div>
                                <div class="col-lg-4 col-xs-4 text-center">{{lot[5].strftime('%I:%M %p')}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>